src/main/webapp/WEB-INF/wsdl/loginservice.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
        name="SoapWorkshop"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:req="http://nl.hu.iac/berichten/request"
        xmlns:rsp="http://nl.hu.iac/berichten/response"
        xmlns:flt="http://nl.hu.iac/berichten/fault"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns="http://nl.hu.iac/berichten/"
        targetNamespace="http://nl.hu.iac/berichten/">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://nl.hu.iac/berichten/request"
                        schemaLocation="request.xsd"/>
            <xsd:import namespace="http://nl.hu.iac/berichten/response"
                        schemaLocation="response.xsd"/>
            <xsd:import namespace="http://nl.hu.iac/berichten/fault"
                        schemaLocation="fault.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="loginRequest">
        <wsdl:part name="loginRequest" element="req:loginRequest"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="loginResponse" element="rsp:loginResponse"/>
    </wsdl:message>
    <wsdl:message name="loginFault">
        <wsdl:part name="loginFault" element="flt:loginFault"/>
    </wsdl:message>
    <wsdl:message name="addRequest">
        <wsdl:part name="addRequest" element="req:addRequest"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="addResponse" element="rsp:addResponse"/>
    </wsdl:message>
    <wsdl:message name="addFault">
        <wsdl:part name="addFault" element="flt:addFault"/>
    </wsdl:message>

    <wsdl:portType name="loginServiceInterface">
        <wsdl:operation name="checkCredentials">
            <wsdl:input message="loginRequest"/>
            <wsdl:output message="loginResponse"/>
            <wsdl:fault name="fault" message="loginFault"/>
        </wsdl:operation>
        <wsdl:operation name="addCredentials">
            <wsdl:input message="addRequest" />
            <wsdl:output message="addResponse" />
            <wsdl:fault name="fault" message="addFault" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="loginServiceBinding" type="loginServiceInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkCredentials">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addCredentials">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="loginService">
        <wsdl:port name="WS-Port" binding="loginServiceBinding">
            <soap:address location="http://localhost:8080/soap-service/soap"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>